* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
  color: #ddd !important;
  font-size: 16px;
}
::placeholder {
  font-size: 16px;
  color: #aaa;
}
.error {
  font-size: 16px;
  color: red;
}
.disabled {
  background-color: #555555 !important;
  cursor: not-allowed !important;
}
